* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}

.results-table {
    width: 200px;
    height: 300px;
    border: 3px solid #8da5a5;
    background-color: #8da5a5;
    border-right: none;
    text-align: center;
    box-shadow: 10px 5px 10px #096F6F;
}

.results-table h3 {
    margin-top: 50px;
}

.wins1,
.wins2,
.draws {
    margin-top: 20px;
}

.game-body {
    width: 700px;
    background-image: linear-gradient(315deg, #3AA4A4 10%, #096F6F 90%);
    border-radius: 10px;
    box-shadow: 10px 5px 10px #8DA5A5;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    color: white;
}

.header h1 {
    margin-bottom: 10px;
}

.players,
.dices {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 30px;
}

.players p {
    font-size: 24px;
}

.dice-one,
.dice-two {
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: black;
}

#dice-img1,
#dice-img2 {
    display: block;
    width: 80%;
    transition: 1.5s;
}

#dice-img1.active,
#dice-img2.active {
    transform: rotate(720deg);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.play,
.edit-name {
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.edit-name {
    font-size: 22px;
    width: 130px;
    height: 40px;
    margin-bottom: 10px;
}

.play {
    font-size: 26px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
}

.result {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    margin-top: 10px;
    color: yellowgreen;
    display: none;
}

.warning-message {
    display: none;
}

@media (orientation: portrait) {
    .results-table {
        display: none;
    }

    .game-body {
        display: none;
    }

    .warning-message {
        display: block;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .results-table {
        display: none;
    }

    .game-body {
        display: none;
    }

    .warning-message {
        display: block;
        font-size: 30px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .results-table {
        width: 100px;
        height: 250px;
    }

    .results-table h3 {
        margin-top: 10px;
    }

    .game-body {
        width: 100vw;
        height: 100vh;
    }

    .header {
        padding: 30px 0;
    }

    .header h1 {
        font-size: 26px;
        margin-bottom: 5px;
    }

    .players,
    .dices {
        margin-bottom: 15px;
    }

    .players p {
        font-size: 20px;
    }

    .dice-one,
    .dice-two {
        width: 80px;
        height: 80px;
    }

    .edit-name {
        display: none;
    }

    .play {
        width: 110px;
        height: 40px;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 0;
    }
}

@media (min-width: 641px) and (max-width: 768px) and (orientation: landscape) {
    .results-table {
        width: 180px;
        height: 300px;
    }

    .results-table h3 {
        margin-top: 40px;
    }

    .game-body {
        width: 100vw;
        height: 100vh;
    }

    .header {
        padding: 30px 0;
    }

    .header h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .players,
    .dices {
        margin-bottom: 20px;
    }

    .players p {
        font-size: 30px;
    }

    .edit-name {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape) {
    .results-table {
        width: 180px;
        height: 400px;
    }

    .results-table h3 {
        margin-top: 50px;
        font-size: 26px;
    }

    .game-body {
        width: 800px;
        height: 500px;
    }

    .header {
        padding: 40px 0;
    }

    .header h1 {
        font-size: 42px;
        margin-bottom: 20px;
    }

    .players,
    .dices {
        margin-bottom: 20px;
    }

    .players p {
        font-size: 30px;
    }

    .dice-one,
    .dice-two {
        width: 120px;
        height: 120px;
    }

    .edit-name {
        display: none;
    }

    .play {
        margin-top: 50px;
    }
}